.loadingModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	color: #56A4E9;
	font-size: 36px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}