.errorHelpWrapper {
	width: 100%;
	position: absolute;
	left: 50%;
	top: -80px;
	transform: translate(-50%, -100%);
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease 0s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.active {
	overflow: visible;
	opacity: 1;
	pointer-events: all;
	top: -20px;
}
.errorHelp {
	background-color: #fff;
	color: #E74C3C;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	box-shadow: 0 0 5px #E74C3C;
	display: inline-flex;
	align-items: center;
	//width: 100%;
	//max-width: 300px;
	img {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
}