.textarea {
	flex: 1 1 auto;
	padding: 7px;
	font-size: 16px;
	border-radius: 5px;
	/*border: 1px solid #60606c;*/
	border: none;
	color: #60606c;
	resize: none;
	&:focus {
		outline: none !important;
		border-color: #60606c;
		box-shadow: 0 0 5px #60606c;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: #f9f9fd;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 15px;
		background-color: #60606c;
	}
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(0,0,0,0.1);
	}
}
.invalid {
	border: 1px solid #E74C3C;
}
