.chat {
	display: flex;
	width: 100%;
	height: 100vh;
}
.chat-users {
	flex: 1 1 30%;
	/*border-right: 1px solid #000;*/
	max-width: 350px;
	padding: 15px;
	background-color: #3b3d49;
}
.room-id {
	font-size: 26px;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	color: #fff;
}
.icon-menu{
	display: none;
}
.users-online {
	margin: 10px 0 10px 0;
	color: #fff;

}
.users {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.user {
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #000;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	background-color:#e7e8ec;
}

.chat-messages {
	flex: 1 1 70%;
	display: flex;
	flex-direction: column;
}
.messages {
	flex: 1 1 auto;
	padding: 15px;
	overflow-y: auto;
	
	height: calc(100vh - 66px - 104px);
	max-width: 100%;
	background-color: #e7e8ec;
	display: flex;
	flex-direction: column;
}
.message-wrapper {
	display: flex;
	justify-content: flex-start;
}

.message {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-bottom: 10px;
	/*border: 1px solid #000;*/
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	/*background-color: #B4DCFF;*/
}

.message._this .message-value {
	background-color: #73a560;
}
.message._this .message-value::before {
	border-bottom: 10px solid #73a560;
}
.message-user {
	margin: 0px 10px 13px 10px;
}
.message-value {
 	font-size: 18px;
	color: #fff;
	background-color: #8cbaeb;
	padding: 15px 15px;
	border-radius: 8px;
	position: relative;
	z-index: 0;
}
.message-value::before {
	content: "";
	position: absolute;
	width: 0;
   height: 0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 10px solid #8cbaeb;
	top: -9px;
	left: 8px;
}
.form {
	padding-top: 10px;
	padding: 15px;
	border-top: 2px solid #fff;
	display: flex;
	align-items: center;
	background-color: #e7e8ec;
}
.form-textarea {
	flex: 1 1 auto;
	padding: 7px;
	font-size: 16px;
	border-radius: 5px;
	/*border: 1px solid #60606c;*/
	border: none;
	color: #60606c;
}
.form-textarea:focus {
	outline: none !important;
	border-color: #60606c;
	box-shadow: 0 0 5px #60606c;
}
.btn-send {
	padding: 15px;
	margin-left: 30px;
	margin-right: 10px;
	background-color: #56A4E9;
	transition: all 0.3s ease 0s;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	border: none;
}
@media (any-hover: hover) {
	.btn-send:hover{
		background-color: #4C8CC4;
	}
}
@media (max-width: 720px){
	.chat {
		flex-direction: column;
	}
	.chat-users {
		max-width: none;
		flex: 0 0 auto;
		position: relative;
		border-right: none;
		/*border-bottom: 1px solid #000;*/
		display: flex;
		align-items: center;
	}
	.room-id {
		border-bottom: none;
		padding-bottom: 0;
		flex: 1 1 auto;
		position: relative;
		z-index: 2;
	}
	.icon-menu{
		display: block;
		position: relative;
		flex: 0 0 44px;
		top: 0px;
		right: 0px;
		width:44px;
		height: 20px;
		cursor: pointer;
		z-index: 5;
		margin: 0px 0px 0px 30px;
	}
	.icon-menu-arrow {
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 9px;
		left: 0px;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.icon-menu-arrow:first-child {
		top: 0px;
	}
	.icon-menu-arrow:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active .icon-menu-arrow {
		transform: scale(0);
	}
	.icon-menu._active .icon-menu-arrow:first-child {
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu._active .icon-menu-arrow:last-child {
		transform: rotate(45deg);
		bottom: 8px;
	}
	.users-data {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		background-color: #3b3d49;
	}
	.users-data._active {
		opacity: 1;
		visibility: visible;
	}
	.users-online {
		margin-top: 65px;
		border-top: 1px solid gray;
		padding: 10px 10px 0 10px;
	}
	.user {
		margin: 5px 10px ;
	}
	.chat-messages {
		flex: 1 1 auto;
	}
	.message-wrapper._this {
		justify-content: flex-end;
	}
	.message._this {
		align-items: flex-end;
	}
	.message._this .message-value::before {
		right: 8px;
		left: auto;
	}
	.btn-send {
		padding: 12px;
		margin-left: 10px;
		margin-right: 0px;
	}
}