.join {
	display: flex;
	flex-direction: column;
	background-color: #f1f2f7;
	padding: 35px;
	border-radius: 5px;
	/*border: 1px solid black;*/
	width: 100%;
	max-width: 350px;
}
.join-input {
	padding: 7px;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 5px;
	/*border: 1px solid black;*/
	border: none;
	color: #60606c;
}
.join-input:focus {
	outline: none !important;
	border-color: #60606c;
	box-shadow: 0 0 5px #60606c;
}
.btn-join {
	margin-top: 5px;
	font-size: 20px;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	background-color: #56A4E9;
	transition: all 0.3s ease 0s;
	border: none;
}
@media (any-hover: hover) {
	.btn-join:hover{
		background-color: #4C8CC4;
	}
}
@media (max-width: 720px){
	.join {
		border: none;
	}
}