.roomInfo {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 300px;
	button {
		margin-top: 10px;
	}
}
.roomData {
	font-size: 18px;
	margin: 0 0 10px 0;
	font-weight: 700;
	span {
		color: #56A4E9;
	}
}