.room {
	display: block;
	width: 100%;
	text-align: left;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:disabled {
		@media (any-hover: hover) {
			&:hover{
				background-color: #e7e8ec;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover{
			background-color: rgba(#e7e8ec, 0.4);
		}
	}
}
.active {
	background-color:#e7e8ec;
	color: #3b3d49;
}